:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #000000;
    --primary-color: #02073e;
    --secondary-color: #0f2137;
    --dark-secondary-color : #B268F1;
    --terciary-color: #CB9EF2;
    --light-terciary-color: #E7D6F5;
    --text-color: #343d48;
  
    --font-family: 'Kalam', sans-serif;
  }